// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global SCSS
body {
  margin: 0;
  padding: 0;
  background: black;
  box-sizing: border-box;
  cursor: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: white;
  color: black;
}

a {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
